@page
@model DigitalAssistantApp.Pages.PersonalLoads.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.SpecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].Gropus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Stream.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Stream.StudCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Att)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Zet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.LectionsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.PractiseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.LabWorkCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].TeachersInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonalLoad) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.SpecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gropus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Stream.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Stream.StudCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Att)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Zet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.LectionsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.PractiseCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.LabWorkCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeachersInfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonalLoadId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonalLoadId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonalLoadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
