@page
@model DigitalAssistantApp.Pages.PersonalLoads.IndexModel

@{
    ViewData["Title"] = "Нагрузка";
}

<h1>Нагрузка</h1>
<a asp-page-handler="ExportToExcel">Экспорт в Excel</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Subject.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.SpecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].Groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Stream.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Stream.StudCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Att)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.Zet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.LectionsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.PractiseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoad[0].EducPlan.LabWorkCount)
            </th>
            @if(Model.PersonalLoad.FirstOrDefault()!=null)
            {
                foreach (var Load in Model.PersonalLoad.FirstOrDefault().Loads)
                {
                    <th>
                        @Html.DisplayNameFor(model => Load.Teacher.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Load.HoursCount)
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonalLoad) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.SpecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Stream.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Stream.StudCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Att)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.Zet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.LectionsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.PractiseCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducPlan.LabWorkCount)
            </td>
            @foreach (var load in item.Loads)
            {
                <td>
                    @Html.DisplayFor(modelItem => load.Teacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => load.HoursCount)
                </td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonalLoadId">Изменить</a>
            </td>
        </tr>
}
    </tbody>
</table>
