@page
@model DigitalAssistantApp.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Преподаватель</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.PatronymicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.PatronymicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher?.TeacherId">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
