@page
@model DigitalAssistantApp.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Преподаватели";
}

<h1>Преподаватели</h1>

<p>
    <a class="btn btn-primary" asp-page="./Create">Добавить запись</a>
</p>
<form>
    <table>
        <thead>
        <tr>
            <th>Поиск</th>
            <th>Кафедра</th>
            <th></th>
        </tr>
        <tbody>
        <tr>
            <th><input type="text" class="form-control" asp-for="SearchString"/></th>
            <th><select class="form-control" asp-for="SelectedDepartment" asp-items="Model.TeachersDepatrments">
                <option value="">Все</option>
                <option value="null">-</option>
            </select>
            </th>
            <th><input type="submit" class="btn btn-primary" value="Применить" /></th>
        </tr>
        </tbody>
    </table>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].PatronymicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teacher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatronymicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeacherId">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.TeacherId">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeacherId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
